* {box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}


/* Style the header */
header {
    background-color:  rgb(167, 164, 164);
    text-align: center;
    font-size: 13px;
    color: rgb(0, 0, 0);
}

header p {
    background-color: rgb(108, 55, 16);
    padding: 8px;
    text-align: left;
    font-size: 13px;
    color: white (250, 246, 246);
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    height: 300px; /* only for demonstration, should be removed */
    background: rgb(167, 164, 164);
    padding: 5px;
    margin-top: -12px;
}

nav p {
    background-color: rgb(108, 55, 16);
    padding: 8px;
    text-align: left;
    font-size: 13px;
    color: white (250, 246, 246);
}


/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 8px;
    text-align: left;
    font-size: 13px;
    color:black;
}

article p{
    padding: 2px;
    text-align: center;
    font-weight: bold;
}

article {
    padding: 2px;
    text-align: center;
    font-weight: 9px;
}


/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}